# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

public/animations
public/models/gifts.glb
public/models/guide.glb
public/models/gifts.glb
public/models/modelAnimation.blend
public/models/modelAnimation.blend1
public/models/stone_floor.glb
public/models/xmas_tree.glb
public/models/b_mubsi.glb
public/models/b_mubsi.blend
public/models/b_mubsi.blend1
public/models/b_mubsi.fbx
public/models/snowfall.glb
public/models/model.glb

public/resources/default_marker.png
public/resources/marker_img.png

public/sounds/greeting_default.mp3
public/sounds/greeting_Rose.mp3
public/sounds/test_sound.mp3

src/generatedClothSystem.js
src/generatedPhysicsSystem.js
src/playground.js

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
